body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: lightgray;
    font-family: 'Righteous';
    text-shadow: 2px 2px white;
}

.conteudo {
    margin: 25px 30px 10px 30px;
}

.cabecalho {
    width: 100%;
    border: 2px solid;
}

.coluna {
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
}

.coluna-esquerda {
    width: 20%;
}

#logo img{
    height: 100%;
    width: 100%;
}

.coluna-centro {
    width: 50%;
}

/* Clear floats after the columns */
.linha::after {
    content: "";
    clear: both;
    display: table;
}

/* Style the links inside the header */
header a {
    color: #fff;
    text-decoration: none;
}

/* Add a hover effect to the links */
header a:hover {
    text-decoration: underline;
}

.coluna-direita {
    display: inline-block;
    height: 100%;
}

/* navbar */

.conteudo nav{
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#navbar{
    width: 100%;
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#navbar li{
    list-style: none;
    margin: 10px;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("./../images/search.svg") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}
  
button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.idioma {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 50px;
    margin: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    border: 1px solid;
}

.idioma:hover {
    background-color: #999;
    text-decoration: none;
    text-shadow: 1px 1px white;
}

.links-cabecalho {
    display: inline;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}

.link-cabecalho {
    background-color: #f2f2f2;
    text-align: center;    
    margin: 10px;
    font-size: 14px;
    color: #333;
}

/* carrousel */

#carrousel{
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

figure img{
    width: 100%;
    border-radius: 10px;
    margin: 25px 0 25px 0;
}

.informacoes {
    display: flex;
    gap: 10px;
}

.historia {
    border-style: ridge;
    width: 70%;
}

.historia header {
    background: #f2f2f2;
    font-size: 18pt;
    border-style: outset;
    margin: 2px;
    padding: 10px 2px 10px;

}

.historia section {
    display: flex;
    padding: 10px;
    align-items: center;
}

.historia section p {
    padding: 20px;

}

.historia footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.historia footer button {
    margin: 10px;
}

.lateral {
    display: inline-block;
    width: 30%;
}

@media screen and (max-width: 480px) {
    .coluna{
        display: flex;
        float: left;
        width: 100%;
        padding: 10px;
    }
    .coluna-esquerda{
        justify-content: center;
    }
    .coluna-centro{
        flex-direction: column;
        align-items: center;
    }
    .coluna-direita{
        flex-direction: column;
        align-items: center;
    }
    .idioma{
        margin-bottom: 10px;
    }

    #logo img{
        height: 125px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .coluna{
        display: flex;
    }
    .coluna-centro{
        flex-direction: column;
        width: 70%;
    }
    .coluna-direita{
        display: flex;
        width: 100%;
    } 

    .links-cabecalho{
        display: contents;
    }
}